@import "_include-media.scss";
@import "_fluid-font-sizes.scss";

/* Spacing */
$m1: 37.5px;
$pad: 15px;

/* Colors */
$primary: #047bc7;
$primary-text: white;
$mute: #a2a2a2;
$mute-text: #a8a8a8;
$grid-border: #e0e0e0;
$subtle-link: #858585;
$demo-body-text: #545454;
$blog-page-excerpt-text-color: #707070; /*This styling and color seemed very unique */
$blog-page-date-color: #b9b9b9;
$blog-page-headings-color: #2e6097;
$blog-page-titles-color: #031453;
$recommended-green: #10a72f;
$mute-text-darker: #989898;
$secondary: #005a91;
$homepage-secondary-accent: #33b2ff;
$button-hover-green: #38e038;
$demo-button-green: #3dc93d;
$button-hover-blue: #0289e0;
$content-block-heading-margin: 27.5px; /* This needs fixed, maybe ems? */

/* @include-media named breakpoints */
$phone: 375px;
$tablet: 768px;
$laptop: 991px;
$desktop: 1300px;
$breakpoints: (
  phone: $phone,
  tablet: $tablet,
  laptop: $laptop,
  desktop: $desktop,
);

/* Bootstrap overrides: */
$grid-breakpoints: (
  xs: 0,
  /* Not Implemented */ sm: $phone,
  /* Not Implemented */ md: $tablet,
  lap: 992px,
  lg: $desktop,
  /* Not Used */ xl: 4000px,
) !default;

$container-max-widths: (
  /* Not Implemented */ sm: 300px,
  /* Not Implemented */ md: 700px,
  lap: 992px,
  /* 104px per .col-1*/ lg: 1248px,
  /* Not Used */ xl: 1600px
) !default;

$grid-gutter-width: $m1 * 2 !default;
$gutter-lg: 75px;
$gutter-md: 60px;
$gutter-sm: 50px;
$gutter-xs: 30px;
/* hompage
    hero h1 xagenda x81px thin/semibold
    h3 x20px semibold
    h2 x45px light/semibold
    content-block inner-title h2 x40px medium
    p x17px xroboto regular
    button 15px semibold xagenda white border->#233A72

    accented-paragraph p x18px xroboto regular
    panel p.panel-heading montserrat 40px bold
    panel p xagenda 18px regular

    navigation link x14px xroboto xmedium
*/

$rfs-base-font-size: 1.25rem !default;

// Standard Font Families
$font-family-base: agenda, sans-serif !default;
$font-family-inner-block-headings: montserrat, sans-serif;
$font-family-body-text: roboto, sans-serif;
$font-family-inner-block-subtext: muli, sans-serif;

// Standard font sizes
/* 1.1875 =  19px */
/* 1.125 =  18px */
/* 1.0625 = 17 */
/* 1 =      16 */
/* .9375 =  15 */
/* .875 =   14 */
$font-size-base: 1rem !default; /* 16px */
$font-size-normal-text: $font-size-base * 1.0625;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

// Buttons
$font-family-btn: $font-family-base !default;
$font-size-btn: $font-size-base * 0.9375 !default;

// Panels
$panel-heading-font-size: $font-size-base * 2.5;

// Headings
$h1-font-size: $font-size-base * 1 !default;
/* lg - 63px; md - 63px; sm - 46px */
$h2-font-size: $font-size-base * 3.3125 !default;
$h2-font-size-content-block: $font-size-base * 2.5;
$h2-font-size-main: $font-size-base * 2.8125;
$h3-font-size: $font-size-base * 1.25 !default;

// Navigation
$font-size-nav-main-links: $font-size-base * 0.875;
$font-size-nav-dropdown-body: $font-size-base * 0.75;
$font-size-nav-contact-links: $font-size-base * 0.9375;

// Footer
$font-size-subfooter: $font-size-base * 0.75;

// Hero
/* $hero-strapline-font-size: $font-size-base * 1; - unused*/

// Font Weights
$font-weight-thin: 100;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700 !default;

// Callouts
$callout-heading-font-size: $font-size-base * 5.3125;

/* Standard font packages */
@mixin heading-font() {
  font-family: $font-family-base;
  font-weight: $font-weight-semibold;
  line-height: 0.9;
  span {
    font-weight: $font-weight-thin;
  }
}

@mixin accented-paragraph-font() {
  font-family: $font-family-body-text;
  font-weight: $font-weight-light;
  font-size: $font-size-normal-text;
}
