@import "../styles/_site-variables.scss";

.baaPage {
  /* Styles unique to this page component */
  .baa {
    li {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .gbiBaa:before,
  .gbiBaa:after {
    background-position: initial !important;
  }

  p {
    margin-bottom: 1.5rem;
    color: rgba(75, 75, 75, 1);
    b {
      color: black;
    }
  }

  ol {
    &.alphaList {
      list-style-type: lower-alpha;
    }
    padding-inline-start: 0;
    & > li {
      font-size: 1.5rem;
      p,
      li {
        font-size: 1rem;
      }
    }
  }

  h4 {
    font-size: 1.5rem;
  }

  .underlined {
    text-decoration: underline;
  }
}
