@import "../styles/_site-variables.scss";

.privacyPolicyPage {
  .privacyPolicy {
    li {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  /* Styles unique to this page component */
  .gbiPrivacyPolicy:before,
  .gbiPrivacyPolicy:after {
    background-position: initial !important;
  }
  .accentedParagraph p {
    color: white;
  }
  .policyTable {
    background: lighten($mute, 30%);
    li {
      padding: 15px;
      border-bottom: 1px dotted rgba(50, 50, 50, 0.25);
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
  p {
    margin-bottom: 1.5rem;
    color: rgba(75, 75, 75, 1);
    b {
      color: black;
      font-weight: $font-weight-semibold;
    }
  }
  address {
    // margin-left: 2rem;
    color: $primary;
  }
  ol {
    padding-inline-start: 0;
    & > li {
      font-size: 1.5rem;
      p,
      li {
        font-size: 1rem;
      }
    }
  }
  h4 {
    font-size: 1.5rem;
  }
  ul {
    margin-bottom: 15px;
  }
}
