/* .col-xl-6 > div { height: 100%; } */

/* Panel */

.panel {
}

p.accented {
  /* position: relative;
  text-align: left;
  padding-left: 15px; */
}
p.accented:before {
  /* content: "";
  width: 4px;
  height: 40px;
  background: #0074cf;
  position: absolute;
  left: -4px; */
}
/* .full-bleed img { width: 50%; margin: 0 auto; display: block; } */
.full-bleed .full-bleed-image {
}

.col-xl-6 img {
}
.inner-title a {
}

.button {
}
.button.flat {
}
.button.rounded {
}
.button a {
}
